<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddAdmittanceServlet</servlet-name>
        <servlet-class>SERVLET.AddAdmittanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthenticationServlet</servlet-name>
        <servlet-class>SERVLET.UserAuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplyServlet</servlet-name>
        <servlet-class>SERVLET.AddSupplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>SERVLET.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDischargeServlet</servlet-name>
        <servlet-class>SERVLET.AddDischargeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendTextServlet</servlet-name>
        <servlet-class>SERVLET.SendTextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <servlet-class>SERVLET.UpdateScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProtocolServlet</servlet-name>
        <servlet-class>SERVLET.AddProtocolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientVitalsServlet</servlet-name>
        <servlet-class>SERVLET.UpdatePatientVitalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientSymptomServlet</servlet-name>
        <servlet-class>SERVLET.UpdatePatientSymptomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProcedureServlet</servlet-name>
        <servlet-class>SERVLET.UpdateProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffByNameServlet</servlet-name>
        <servlet-class>SERVLET.SearchStaffByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientByNameServlet</servlet-name>
        <servlet-class>SERVLET.SearchPatientByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>SERVLET.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>SERVLET.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlertBarangayServlet</servlet-name>
        <servlet-class>SERVLET.AlertBarangayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplyServlet</servlet-name>
        <servlet-class>SERVLET.SearchSupplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateDischargeReport</servlet-name>
        <servlet-class>SERVLET.GenerateDischargeReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdmittanceServlet</servlet-name>
        <url-pattern>/AddAdmittanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthenticationServlet</servlet-name>
        <url-pattern>/UserAuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplyServlet</servlet-name>
        <url-pattern>/AddSupplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDischargeServlet</servlet-name>
        <url-pattern>/AddDischargeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendTextServlet</servlet-name>
        <url-pattern>/SendTextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <url-pattern>/UpdateScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProtocolServlet</servlet-name>
        <url-pattern>/AddProtocolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientVitalsServlet</servlet-name>
        <url-pattern>/UpdatePatientVitalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientSymptomServlet</servlet-name>
        <url-pattern>/UpdatePatientSymptomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProcedureServlet</servlet-name>
        <url-pattern>/UpdateProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffByNameServlet</servlet-name>
        <url-pattern>/SearchStaffByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientByNameServlet</servlet-name>
        <url-pattern>/SearchPatientByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlertBarangayServlet</servlet-name>
        <url-pattern>/AlertBarangayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplyServlet</servlet-name>
        <url-pattern>/SearchSupplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateDischargeReport</servlet-name>
        <url-pattern>/GenerateDischargeReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
