body{
    background: rgb(120, 210, 167);
    height: 100%;
    width: 100%;
}
#particles-js {
    /* Size */
    height: 100%;
    width: 100%;
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
}

.pushdown-20p {
    padding-top: 20%;
}

#above {
    /*position: relative;
    z-index: 1;
    font-family: "Roboto";
    font-weight: 600;*/
    height: 100%;
    width: 100%;
}
.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;    
}

.make-thick {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 10em;
    
}
.roboto-200{
    font-family: "Roboto";
    font-weight: 200;
}

.roboto-300{
    font-family: "Roboto";
    font-weight: 300;
}

.roboto-400{
    font-family: "Roboto";
    font-weight: 400;
}

.roboto-500{
    font-family: "Roboto";
    font-weight: 500;
}

.roboto-700{
    font-family: "Roboto";
    font-weight: 700;
}

.font-s18 {
    font-size: 18px;
}

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
#below {
    background: rgb(9,9,9);
    padding-bottom: 0px;
    margin-bottom: -20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#einstein-info {
    margin-bottom: -20px;    
}

.pushdown-10p {
    padding-top: 10%;
}

.pushdown-5p {
    padding-top: 5%;
}

.text-right{
    text-align: right;
}
.text-left {
    text-align: left !important;
}

#start-navbar {
    /* size */
    height: 50px;
    width: 100%;
    /* color */    
    background: rgb(120, 210, 167);
    border-bottom: solid 1px rgb(71, 188, 132);
    /* position */
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 0px;    
    padding-top: 0px;
    padding-left: 5%;
    line-height: 50px;
    z-index: 1000;
}

.footer {
    /* font */
    font-size: 1em;
    /* size */
    width: 100%;
    height: 40px;
    /* position */
    position: relative;
    
    bottom: 0px;
    /* color */
    border-top: solid 1px rgb(71, 188, 132);;    
}

.img-big-hero {    
    width: 100%;
}

#sec-1, #sec-2, #sec-3, #sec-4 {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;    
}



#learn-more {
    position: relative;
    top: 6em;
}


#above-fold {
    margin-top: 15px;
}

#weekview {
    height: 200px;
    max-height: 200px;
    overflow-y: visible;
}
